.datamapper { position: relative; overflow: hidden; }
.datamapper header ~ .offside, .datamapper header ~ .left, .datamapper header ~ .map { top: 3em; }
.datamapper .left { width: 360px; position: relative; left: 0em; z-index: 100; }
.padded { padding: 1em; }
a.button, button, .datamapper .signin input[type=submit] {
	border: 0px;
	background-color: #222;
	color: white;
	width: 100px;
}
a.button, button { line-height: 2em; font-size: 1em; padding: 0.5em 1em;  border: 0px; cursor: pointer; display: inline-block; }
.datamapper .download a.button { width: 100%; text-align: center; color: inherit; background: rgba(255,255,255,0.3); }
.datamapper .download a.button:hover { color: white!important; background: rgb(0,0,0); }
.datamapper .layers ul li .description .download { background-color: inherit; }
.datamapper .deactivated { background: #efefef!important; color: black; }
#saver { position: fixed; z-index: 100; bottom: 2em; right: 1em; padding: 1em; }

#logo { width: auto; position: relative; padding-left: 1em; }
#logo .name { position: absolute; bottom: -0.2em; z-index: 2; color: white; font-size: 1.25em; }
.panel {
	margin-bottom: 0.5em;
}
body .panel:last-child {
	padding-bottom: 1em;
}
body.hasmessage .panel:last-child {
	padding-bottom: 4em;
}
.slide-in {
	position: relative;
	left: 0%;
	-webkit-animation: slideIn ease-in 0.6s;
	-moz-animation: slideIn ease-in 0.6s;
	-o-animation: slideIn ease-in 0.6s;
	animation: slideIn ease-in 0.6s;
}
.datamapper .layers .add {
	position: relative;
	float: right;
	cursor: pointer;
	border: 0px;
	height: auto;
	color: black;
	background: transparent;
	font-family: inherit;
	z-index: 1;
}
.datamapper .layers .add-layer.add {
	position: absolute;
	text-align: right;
	width: 100%;
}
.datamapper .layers h2, .datamapper .layers .add {
	display: inline-block;
	margin-top: 0px;
	padding: 0.5em 1em;
	line-height: 2em;
	font-size: 1em;
	font-weight: normal;
}
.datamapper .layers .add:hover, .datamapper .layers .add:focus {
	background-color: #efefef;
}
.datamapper .layers h2 {
	z-index: 0;
	position: relative;
}
.datamapper .layers ul li, .datamapper .layers ol li {
	padding: 0;
	border-top: 1px #dddddd solid;
	position: relative;
}
.datamapper .layers ul li a, .datamapper .layers ol li a {
	color: inherit;
}
.datamapper .layers ul li .heading, .datamapper .layers ol li a {
	display: block;
	text-decoration: none;
}
.datamapper .layers ul li.loading {
	filter: grayscale(100%);
	background: #dddddd!important;
}
.datamapper .layers ul li.loading .loading { margin-left: 0.2em; display: inline-block; }
.padding {
	padding: 0.75em 1em;
}
.datamapper .layers ul li .heading:hover, .datamapper .layers ul li.focus div, .datamapper .layers ul li .heading:hover div, input[type="text"]:hover {
	cursor: pointer;
}
.datamapper .layers ul li .heading {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.datamapper .layers ul li.focus .nav { display: inline-block; }
.datamapper .layers ul li .nav { display: none; position: absolute; right: 0px; top: 0px; background: inherit; line-height: 0; }
.datamapper .layers ul li .description, .datamapper .layers ul li .editor { display: block; color: black; max-height: 0px; width: 100%; /*transition: max-height 0.5s ease-in-out;*/ overflow: hidden; }
.datamapper .layers ul li .description a { text-decoration: underline; }
.datamapper .layers ul li .description > div > .credit { margin-top: 1em; }
.datamapper .layers ul li .description > div, .datamapper .layers ul li .editor > div { display: block; margin: 8px; margin-top: 0px; margin-bottom: 0px; }
.datamapper .layers ul li .description > div:last-child, .datamapper .layers ul li .editor > div:last-child { margin-bottom: 8px; }
.datamapper .layers ul li .description > div, .datamapper .layers .editor .left { background: white; }
.datamapper .layers ul li.open .description,.datamapper .layers ul li.edit .editor { display: block; max-height: 5000px; }
.datamapper .layers ul li.edit .edit { display: none; }
.datamapper .layers ul li .nav a { display: inline-block; text-decoration: none; margin-left: 0.75em; }
.datamapper .layers ul li .nav a:first-child { margin-left: 0em; }
/*#layers ul li .nav a:before { content: "|"; }
#layers ul li .nav a:first-child:before { content: ""; }*/
.datamapper .layers ul li .nav a svg { width: 1.4em; height: 1.4em; }
.datamapper .layers ul li:first-child {
	border-top: 0px;
}
.datamapper input, .datamapper textarea {
	width: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 1em;
	position: relative;
	top: 0px;
	line-height: 3em;
	height: 3em;
	border: 0px;
	padding: 0 1em;
	cursor: pointer;
}
.datamapper input[type=radio] { height: auto; width: auto; line-height: inherit;}
.datamapper .leaflet-touch .leaflet-control-layers-toggle { width: 30px; height: 30px; }
.datamapper .leaflet-retina .leaflet-control-layers-toggle { background-size: 24px 24px; }
.datamapper .nls img { filter: grayscale(100%) brightness(120%); }
.datamapper .placesearch { min-width: 30px; min-height: 30px; }
.datamapper .placesearch .submit {
	background-image: url(search.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	width: 30px;
	height: 30px;
	background-color: white;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	cursor: pointer;
}
.datamapper .placesearch form { position: relative; }
.datamapper .placesearch .pop-left { display: none; }
.datamapper .placesearch .searchresults li { background-color: white; color: black; }
.datamapper .placesearch .searchresults li.selected { background-color: #dfdfdf; color: black; }
.datamapper .placesearch .searchresults li.selected a { background-color: inherit; }
.datamapper .placesearch.typing input[type="text"]{ display: block; min-width: 16em; height: 30px; padding: 0.25em 0.5em; }
.datamapper .placesearch.typing .searchresults { display: block; }
.datamapper .placesearch.typing .searchresults a { border: 0px; width: 100%; height: auto; text-align: left; }
.datamapper .placesearch.typing .pop-left { display: inline-block; position: relative; top: 0px; right: 0px; }
.datamapper .padding-small { padding: 0.25em 0.5em; }
.datamapper .layer-search form { position: relative; }
.datamapper .layer-search input[type="submit"], .datamapper .layer-search button.submit {
	width: auto;
	position: absolute;
	border: 0px;
	width: 3.5em;
	height: 3em;
	float: right;
	background: transparent;
	background-image: url(search.svg);
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0em;
	background-size: 1.5em;
	z-index: 2;
	right: 0em;
}

.datamapper .layersearch button.submit {
	width: 4em;
	background-color: white;
}

.datamapper .layers .editor {
	background-color: inherit;
}
.datamapper .layers .editor > div {
	background-color: inherit;
	display: table-row;
	cursor: auto;
}
.datamapper .layers .editor .left {
	width: 100%;
	position: relative;
}
.datamapper .layers .editor .right {
	background-color: inherit;
	width: auto;
	vertical-align: top;
	position: absolute;
	top: 0px;
	right: -3em;
	margin-right: -8px;
	padding: 8px;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.datamapper .leaflet-popup { z-index: 2000; }
.datamapper .layers .editor .leaflet-bar {
	box-shadow: none;
	border-radius: 0px;
}
.datamapper .layers .editor .leaflet-draw-toolbar a {
	/*box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);*/
	background-color: white;
}
.datamapper .layers .editor .leaflet-bar a:first-child, .datamapper .layers .editor .leaflet-bar a:last-child {
	border-radius: 0px;
}
.datamapper .layers .editor .leaflet-bar a, .datamapper .layers .editor .leaflet-bar a:hover {
	width: 3em;
	height: 3em;
	line-height: 3em;
}
.datamapper .layers .editor .leaflet-draw-toolbar .leaflet-draw-draw-polygon { background-position: -3em 0px; }
.datamapper .layers .editor .leaflet-draw-toolbar .leaflet-draw-draw-rectangle { background-position: -6em 0px; }
.datamapper .layers .editor .leaflet-draw-toolbar .leaflet-draw-draw-circle { background-position: -9em 0px; }
.datamapper .layers .editor .leaflet-draw-toolbar .leaflet-draw-draw-marker { background-position: -12em 0px; }
.datamapper .layers .editor .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker { background-position: -15em 0px; }
.datamapper .layers .editor .leaflet-draw-toolbar .active { background-color: #dfdfdf; }
.datamapper .layers .editor .leaflet-draw-toolbar a { background-size: 30em 3em; }
.datamapper .layers .editor .row { margin-bottom: 1em; }
.datamapper .layers .editor input, .datamapper .layers .editor textarea { line-height: 2.5em; border: 1px dashed #999999; }
.datamapper .layers .editor textarea { line-height: 1.5em; padding: 0.75em 1em; min-height: 8em; }
.datamapper .layers .editor input[type="color"] {
	padding: 0px;
	border: 0px;
}
.datamapper .layers .editor input[type="submit"] { border-style: solid; width: 3em; height: 3em; padding: 0; margin-top: 8px; border: 0px; background: white; }
.datamapper .layers .editor input[type="submit"]:hover,.datamapper .layers .editor input[type="submit"]:focus { background-color: #bbbbbb; }
.datamapper .layers .editor .sr-only { display: none; }
.datamapper .map { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.datamapper .map .marker-group {
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
}
.datamapper .message { background-color: rgb(252,229,173); padding: 1em; position: fixed; z-index: 1000; bottom: 0px; left: 0px; width: 100%; line-height: 1em; text-align: center; display: none; }
.datamapper.hasmessage .message { display: block; }

.datamapper .layer-search h2, .datamapper .newLayer h2 { font-size: 1.5em; line-height: 1.5em; }
.datamapper .layer-search input { border: 1px solid #dfdfdf; }
.datamapper .create-layer { background-color: #dfdfdf; line-height: 2em; padding: 0.25em 0.5em; border: 0px; cursor: pointer; width: auto; display: block; color: black; }
.datamapper .create-layer:hover { background-color: #cccccc; }

.datamapper div.signin {
	margin: auto;
	width: 350px;
	padding: 16px;
}
.datamapper div.signin h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.datamapper header { position: fixed; height: 3em; line-height: 2em; top: 0px; left: 0px; right: 0px; padding: 0.5em 1em; }
.datamapper header h1 { display: inline; font-size: 1em; }
.datamapper .auth { float: right; }
.datamapper .auth .user { display: none; }
.datamapper .auth a {  margin-left: 1em; position: relative; display: none; }
.datamapper .auth a:first-child { margin-left: 0em; }

.datamapper .leaflet-top { top: 0em; }
.datamapper .leaflet-container { font: inherit; }
.datamapper .leaflet-right .leaflet-control { margin-right: 1em; }
.datamapper .leaflet-top .leaflet-control { margin-top: 1em; }
.datamapper .leaflet-left .leaflet-control { margin-left: 1em; }
.datamapper .leaflet-container .leaflet-control-attribution { margin: 0px; }
.datamapper .leaflet-popup-content-wrapper { border-radius: 0px; }
.datamapper .leaflet-popup-content { margin: 1em; }
.datamapper .leaflet-popup-content h3 { font-weight: bold; }
.datamapper .leaflet-popup-content h3 + p { margin-top: 0.5em; }
.datamapper .leaflet-popup-tip-container { margin-top: -1px; }
.datamapper header, .datamapper .panel-inner, .datamapper .leaflet-popup-content-wrapper, .datamapper .leaflet-popup-tip {
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
	background: white;
}
.datamapper .leaflet-popup-content .edit { font-size: 0.8em; border-top: 1px solid #999999; padding-top: 0.25em; }
.datamapper .leaflet-popup-content strong { font-weight: 700; }
.datamapper .searchresults { width: 100%; box-sizing: border-box; }
.datamapper .searchresults ol { list-style: none; padding-left: 0px; text-align: left; margin: 0px; border-top: 0px; }
.datamapper .searchresults ol:after { clear: both; }
.datamapper .searchresults li { cursor: pointer; line-height: 2em; }
.datamapper .searchresults li a { display: block; text-decoration: none; color: inherit; }
.datamapper .searchresults li.selected, .datamapper .searchresults li > a:hover { background-color: #efefef; }

.datamapper .popup {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: white;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: transform ease-in 0.3s;
	overflow: hidden;
	overflow-y: auto;
	vertical-align: middle;
	text-align: center;
	display: block;
}
.datamapper .popup.open {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	transition: transform ease-in 0.3s;
	border-radius: 0;
}
.datamapper button.close {
	cursor: pointer;
	border: 0px;
	background-color: transparent!important;
}
.datamapper button.close:hover {
	background-color: #efefef!important;
}
.datamapper .popup .close {
	width: 3em;
	height: 3em;
	position: absolute;
	top: 1em;
	right: 1em;
}
.datamapper .popup .close svg { width: 100%; }
.datamapper .message .close {
	position: absolute;
	top: 0;
	right: 0;
}
.datamapper .message .close svg { height: 1.5em; margin: 1em 0; }
.datamapper .centered {
	display: table-cell;
	vertical-align: middle;
}
.datamapper .inner {
	width: 100%;
	max-width: 800px;
	margin: auto;
}
.datamapper .center-block {
	top:50%;
	left: 50%;
	transform: translate3d(-50%,-50%, 0);
	position: absolute;
	text-align: center;
	margin-right: -50%;
}
.datamapper .bubble-up {
	background-color: #444444;
	color: #efefef;
	position: relative;
}
.datamapper .bubble-up a, .datamapper .bubble-up a:visited {
	color: #dddddd;
}
.datamapper .bubble-up:before {
	position: absolute;
	content: "";
	border: 14px solid transparent;
	border-bottom-color: #444444;
	width: 0px;
	height: 0px;
	top: -28px;
	right: 1em;
}
.datamapper .tooltip {
	display: none;
	position: absolute;
	background: #444444;
	color: #efefef;
	opacity: 0.5;
	padding: 0.5em;
}
@-webkit-keyframes slideIn { from { left:-125%; } to { left: 1em; } }
@-moz-keyframes slideIn { from { left:-125%; } to { left: 1em; } }
@-o-keyframes slideIn { from { left:-125%; } to { left: 1em; } }
@keyframes slideIn { from { left:-125%; } to { left: 1em; } }
.datamapper .offside { display: none; }

header { z-index: 1000; }
.datamapper .popup { z-index: 1010; }

.datamapper .b1-bg { background-color: #000000; color: white!important; }
.datamapper .b2-bg { background-color: #333333; color: white!important; }
.datamapper .bk-bg { background-color: #6D6D6D; color: white!important; }
.datamapper .b3-bg { background-color: #999999; color: black!important; }
.datamapper .b4-bg { background-color: #bbbbbb; color: black!important; }
.datamapper .b5-bg { background-color: #dfdfdf; color: black!important; }
.datamapper .b6-bg { background-color: #ffffff; color: black!important; }

.datamapper .tooltip { z-index: 998; }

.datamapper .offside {
	cursor: pointer;
	display: block; 
	width: 3em;
	height: 3em;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1em;
	margin: 0px;
	box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.datamapper label.offside {
	z-index: 999;
	padding: 0.5em;
}
.datamapper label.offside .nv {
	display: none;
}
.datamapper input.offside {
	z-index: 999;
	opacity: 0.01;
}
.datamapper input.offside:hover ~ label.offside,
.datamapper input.offside:checked ~ label.offside {
}
.datamapper .chevron{
	height:70%;
	width:70%;
	margin: 15%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border: 6px solid white;
	border-left: 0px;
	border-top: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 5%;
	transition: transform ease-in 0.6s;
}
.datamapper input.offside:checked ~ label.offside .chevron {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-left: 25%;
}
.datamapper .left {
	left: -360px;
	width: 360px;
}

.datamapper input.offside:checked ~ .left {
	left: 0px;
}
.datamapper input.offside:checked, .datamapper input.offside:checked + label.offside {
	left: 360px;
}
.datamapper input.offside:checked ~ .map input.offside:checked ~ footer {
	margin-left: 360px;
	width: 100%;
}
.datamapper .offside { position: absolute; }
.datamapper .offside, .datamapper .left { transition: left 0.3s ease-in; }


@media only screen and (max-width: 960px) {

	.datamapper input.offside:checked, .datamapper input.offside:checked + label.offside {
		left: 80%;
	}

	.datamapper .input.offside:checked ~ .map input.offside:checked ~ footer {
		margin-left: 80%;
		width: 100%;
	}
	.datamapper .left {
		left: -80%;
		width: 80%;
		/*overflow: hidden;*/
	}
	.datamapper .layers .editor .leaflet-bar {
		position: relative;
	}
	header.panel {
		margin-top: 0px;
		width: 100%;
	}
	#logo { font-size: 1.25em; height: 2.85em; }
	#logo .name { bottom: -0.05em; }
	.datamapper .map {
		transition: margin-left 0.3s ease-in;
		border-left: 1px #2f529f solid;
	}
}

@media only screen and (max-width: 600px) {
	.datamapper header { background-image: none!important; }
}
