/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1em; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }

/* End of reset */

body {
	background-color: #ffffff;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 16px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	line-height: 1.44em;
}
a { color: #2f529f; }

#main {
	background-color: #ffffff;
	color: #333333;
}
.holder {
	position: relative;
	width: 1080px;
	max-width: 100%;
	margin: auto;
}
#main .holder, footer .holder {
	padding: 1em 1em;
}
.b1-bg { background-color: #000000; color: white!important; }
.b2-bg { background-color: #333333; color: white!important; }
.bk-bg { background-color: #6D6D6D; color: white!important; }
.b3-bg, .github:hover { background-color: #999999; color: black!important; }
.b4-bg { background-color: #bbbbbb; color: black!important; }
.b5-bg { background-color: #dfdfdf; color: black!important; }
.b6-bg { background-color: #ffffff; color: black!important; }

.padded { padding: 1em; }
.doublepadded { padding: 2em; }
h1 { font-size: 2em; margin-top: 1em; }
h2 { font-size: 1.7em; margin-top: 1.7647058823529411em; }
h3 { font-size: 1.4em; margin-top: 1.428571em; }
h4 { font-size: 1.25em; margin-top: 1em; }
h1:first-child, h2:first-child, h3:first-child { margin-top: 0; }

pre.prettyprint {
	background: rgba(228, 233, 242, 0.4);
	padding: 1em;
	tab-size: 4;
	-moz-tab-size: 4;
}


/* Grid styles */
.datamapper .topics {
	overflow: hidden;
	display: block;
	position: relative;
	margin: 1em 0 -1em -1em;
	right: -1em;
	list-style: none;
	min-width: 100%;
	vertical-align: top;
}
.datamapper .topics + * { clear: both; margin-top: 1em; }
.datamapper .topics > li {
	display: inline-block;
	float: left;
	vertical-align: top;
	width: 33.3333%;
	margin-bottom: 1em;
	border-right: 1em solid rgba(255,255,255,0);
}
.datamapper .topics > li > a {
	background-color: rgba(0,0,0,0.7);
	color: white;
	padding: 1em;
	display: block;
	text-decoration: none;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	opacity: 0.2;
}
.datamapper .topics > li > a.active { opacity: 1; }
.datamapper .topics > li > a > img { max-width: 100%; }